@import url(./normalize.css);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}

/* 4 primary colors */

:root{
  --text-color: ;
  --header-bg-color: ;
  --main-bg-color: ;
  --footer-bg-color: ;
  --anchor-color: ;
  --flex-type: flex;
  --no-style: none;
}

body{
  min-height: 100vh;
}

header{
  display: var(--flex-type);
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}

header nav ul{
  display: flex;
  column-gap: calc(10px + 1vw);
}