@import url(./normalize.css);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}

/* 4 primary colors */

:root{
  --text-color: #CED4DA;
  --header-bg-color: #343A40;
  --main-bg-color: #212529;
  --anchor-color: #F8F9FA;
  --flex-type: flex;
  --no-style: none;
}

a{
  color: var(--anchor-color);
}

a:hover{
  filter: opacity(0.5);
}

h1, h2, p, strong, h3, li{
  color: var(--text-color);
}

ul li:hover{
  font-weight: bold;
}

body{
  min-height: 100vh;
}

header{
  display: var(--flex-type);
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: var(--header-bg-color);
}

section.right-content{
  padding-bottom: 20px;
}

main{
  background-color: var(--main-bg-color);
}

header h1{
  font-size: calc(18px + 1vw);
}

header nav ul{
  display: flex;
  column-gap: calc(10px + 1vw);
}

picture img, picture source{
  height: 100%;
  max-inline-size: 100%;
}

div.outline{
  text-align: center;
}

div.outline h2{
  margin-top: 10px;
}

div.outline p{
  min-width: 300px;
  max-width: 600px;
  margin: 10px;
  line-height: calc(15px + 1vh);
}

section.introductory-text strong{
  display: block;
  text-align: end;
  margin: 25px 10px 10px 0;
}

.form-data{
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
  padding: 15px 10px 30px 10px;
  background-color: #343A40;
}

form div.form-data .item{
  display: var(--flex-type);
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
}

div.form-data div div{
  flex-grow: 1;
  display: var(--flex-type);
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  max-width: 400px;
  column-gap: 5px;
}

div.form-data div div input{
  width: 100%;
  padding: 2px 3px;
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--main-bg-color);
}

div.form-data div input{
  flex-grow: 1;
  max-width: 400px;
  width: 100%;
  padding: 2px 3px;
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--main-bg-color);
}

input:focus{
  outline: none;
}

input:focus:invalid{
  border-bottom: 1px solid red;
}

input:focus:valid{
  border-bottom: 1px solid #588157;
}

form .options{
  display: var(--flex-type);
  flex-flow: column wrap;
  column-gap: 10px;
  margin-top: 20px;
  padding: 5px 15px;
  align-items: center;
  gap: 8px;
}

.options button{
  width: 80%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: var(--header-bg-color);
  color: var(--text-color);
}

.options button:hover{
  filter: opacity(0.5);
  cursor: pointer;
}

.options button:active{
  filter: none;
}

section.right-content p{
  text-align: center;
  margin-top: 10px;
}

footer{
  text-align: center;
  padding: 10px;
  background-color: var(--header-bg-color);
}

@media screen and (min-width: 650px) {
  main{
    display: var(--flex-type);
    flex-direction: row;
    height: 100%;
  }

  main > section{
    display: var(--flex-type);
    flex-flow: column;
    gap: 20px;
    flex-basis: 800px;
  }

  section.introductory-text .outline h2{
    text-align: start;
    margin: 10px 15px;
    font-size: calc(18px + 1vw);
  }

  section.introductory-text .outline p{
    text-align: start;
    margin-top: 15px;
  }

  section strong{
    margin-top: 10px;
  }

  form div.form-data .item{
    flex-flow: row;
    align-items: start;
  }

  form .options{
    flex-flow: row;
    margin-top: 20px;
  }
}